include partials/head
include partials/header

doctype html
html.post
  mixin head(title)
  body
    div.kud-Banner
      a(class="kud-Banner-link" href='/' + lang + '/')= '« ' + trans.banner.title

    div.kud-Wrapper
      section.kud-Post.kud-Text--wowLink.animated.fadeIn

        div.kud-PostHeader
          img(src=cover).kud-PostHeader-img
          div.kud-PostHeader-overlay
            div.kud-PostHeader-wrapper
              h2.kud-PostHeader-heading=title
              time.kud-PostHeader-date= moment(date).locale(lang).format('dddd Do MMMM YYYY')

        div.kud-Post-content!= contents

      include partials/footer
    include partials/scripts
